
#Heading {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
  Color: white;
  font-weight: bold;
  font-size: 5vh;
  text-shadow:
       3px 3px 0 #2b2b2b,
     -1px -1px 0 #2b2b2b,  
      1px -1px 0 #2b2b2b,
      -1px 1px 0 #2b2b2b,
       1px 1px 0 #2b2b2b;
  float: left;
  white-space: nowrap;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center; 
  align-items: center; 
}

.popup-content {
  position: relative;
  top: 30%;
  background-color: rgb(71, 71, 71); /* Popup background */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Spacing */
  display: flex; /* Flexbox for button alignment */
  gap: 10px; /* Space between buttons */
}

body {
  background-color: lightblue;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

#videoWrapper {
  position: relative; /* This allows absolute positioning for buttons */
  max-width: 750px; /* Max width for video */
  width: 100%; /* Responsive */
  background-color: #666; /* Background color for the video frame */
  border: 5px dashed rgb(55, 55, 55);
}

#videoElement {
  width: 100%; /* Full width of the wrapper */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensures video fills the wrapper */
}

#buttonsContainer {
  position: absolute; /* Positioning buttons over the video */
  bottom: 10px; /* 10px from the bottom of the video wrapper */
  left: 50%; /* Centering horizontally */
  transform: translateX(-50%); /* Adjust for center alignment */
  display: flex; /* Flexbox for button alignment */
  gap: 10px; /* Space between buttons */
  z-index: 1; /* Ensure buttons are on top of the video */
}

button {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  Color: white;
  font-weight: bold;
  text-shadow:
       2px 2px 0 #2b2b2b,
     -1px -1px 0 #2b2b2b,  
      1px -1px 0 #2b2b2b,
      -1px 1px 0 #2b2b2b,
       1px 1px 0 #2b2b2b;
  float: left;
  white-space: nowrap;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darken background on hover */
  transform: scale(1.05); /* Slightly grow the button */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}
